body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(27, 27, 27);
  letter-spacing: 1px;
}

h1,
h2 {
  font-weight: normal;
}

#page-top {
  background-color: rgb(143, 171, 242);
  padding: 10px 0;
}

#wrapper {
  width: min(90%, 800px);
  margin: 20px;
  margin: 20px auto;
  box-shadow: 6px 2px 5px rgb(0, 0, 0, 0.5);
  padding: 0 0 20px;
  border: 1px solid rgb(211, 211, 211, 0.877);
}

#page-top h1,
#page-top p {
  text-align: center;
  margin: 0.5em 0;
}

#page-top input {
  width: min(90%, 250px);
  margin: 20px auto;
  display: block;
  padding: 8px;
  border: 1px solid rgb(221, 221, 221, 0.7);
  font-size: 1em;
  color: rgb(49, 49, 49);
}

#check {
  max-width: 280px;
  margin: 10px auto;
  text-align: center;
}

#check #hide {
  width: 10%;
  margin: 0;
  display: inline-block;
}

#add-item {
  width: 400px;
  margin: 0 auto;
}

#add-item input {
  width: 300px;
  display: block;
  margin: 20px 0px 0px 0px;
  padding: 0.5em;
  border: 1px solid rgb(216, 216, 216);
  font-size: 1em;
  border-radius: 2px 0 0 2px;
  float: left;
}

#add-item button {
  width: 100px;
  cursor: pointer;
  color: white;
  background: #3e72d1;
  padding: 0.5em 20px;
  border: 1px solid #2660b6;
  font-size: 1em;
  margin: 20px 0 0 0;
}

#grocery-list {
  margin: 2em;
}

#grocery-list ul {
  list-style: none;
  padding: 0;
}

#grocery-list li {
  padding: 1em;
  border-left: 5px solid rgb(211, 211, 211);
  margin: 1.5em 1em;
}

#grocery-list li:hover {
  border-color: #da4343;
}

.delete {
  float: right;
  background: #da4343;
  padding: 7px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.delete:hover {
  background: rgb(20, 20, 20);
}

#tab-wrapper ul li:hover {
  background: #da4343;
  color: white;
}

#tab-wrapper li {
  display: inline-block;
  padding: 0.8em 1.3em;
  background: #ddd;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}

#tab-wrapper .panel {
  margin: 0em 2em;
  border: 1px solid #ddd;
  padding: 0 1em;
  border-radius: 3px;
  display: none;
}

#tab-wrapper .panel.active {
  display: block;
}

#tab-wrapper .selected {
  background-color: rgb(139, 139, 139);
}

.show {
  background: rgb(183, 183, 98);
  padding: 10px;
}
